.grid {
    /*display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;*/
    justify-content: space-around;
}

body {
    background-color:dimgray;
    text-align: center;
}

#main-header {
    padding: 2rem 0rem;
}

nav {
    background-color: antiquewhite;
}

nav a:link {
    color: grey;
}

nav a:hover {
    color: red;
}


h2, h1 {
    background-color: black;
    color: white;
}

.img-container {
    display: inline-flex;
    text-align: center;
    padding: 2rem 2rem;
    height: auto;
    max-width: 100%;
}

.info-card img {
    height: auto;
    max-width: 100%;
}

.info-card {
    padding: .5rem .5rem;
    margin: 0 1rem;

}

#about header {
    background-image: url("../resources/images/dart-board-3-bulls.jpeg");
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pictures {
    display: inline-flex;
    flex-direction: column;
    justify-items: center;
}

#quotes h5 {
    font-family: Comforter;
    font-size: 2rem;
    margin: .5rem 0;
}

footer {
    background-color: black;
    color: white;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

footer img {
    max-width: 100%;
    height: auto;
}